/* src/JobList.css */
.job-list-container {
    margin-top: 25px;
      display: flex;
      justify-content: space-evenly; /* Use space-evenly to distribute space around items */
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0 10px;
    }
    
    .job-card {
      border: 2px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      margin: 10px 0;
      width: calc(25% - 20px); 
      height: auto;
      box-sizing: border-box;
      background-color:rgb(45 85 75)
    }
    
    .apply-button {
      margin-top: 20px;
      background-color:rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border: none;
      padding: 0 10px 3px 10px;
      border-radius: 100px;
      cursor: pointer;
    }
    
    .apply-button:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }
    