.logo{
    height: 50px;
    width: 200x;
    margin: 10px  10px;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.829);
    }
    
}
